html,
body,
#root {
    height: 100%;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "lato";
    src: url("./Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato";
    src: url("./Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "lato";
    src: url("./Lato-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

#root {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.y-scroll-auto {
    overflow-y: auto;
}

.full-height {
    height: 100vh;
}

.width-200 {
    width: 200px;
}

.sidebar {
    margin-left: 10px;
    height: 100vh;
    overflow-y: auto;
    flex-shrink: 0;
    width: 200px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.fill {
    flex: 1;
}

.danger {
    color: red;
}

.default {
    color: skyblue;
}

.info {
    color: orange;
}

.bg-danger {
    background: darkred;
}

.selected {
    background-color: var(--vscode-editor-selectionBackground, #e1f2ff);
}

.system-font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.pl-20 {
    padding-left: 20px;
}
.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.ph-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.fixed-32 {
    width: 32px;
}

.fixed-48 {
    width: 48px;
    height: 48px;
}

.rounded {
    border-radius: 5px;
}

.fixed-100 {
    width: 100px;
}

.fixed-150 {
    width: 150px;
}

.no-padding {
    padding: 0;
}

.bordered {
    border: 1px solid gray;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.small {
    font-size: small;
}

.lato {
    font-family: "Lato", sans-serif;
}

/** ------------------------------ */

.avatar {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.user-avatar {
    background-image: url(./user.png);
}

.assistant-avatar {
    background-image: url(./assistant.png);
}

.function-avatar {
    background-image: url(./function.png);
}

.vs-forground {
    color: var(--foreground);
}

pre {
    /* fix for highlight.js pre block */
    margin: 0;
}

pre,
code {
    font-family: var(--vscode-editor-font-family), "Courier New", Courier, monospace;
    font-size: var(--vscode-editor-font-size);
}
