html,
body,
#root {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.y-scroll-auto {
    overflow-y: auto;
}

.full-height {
    height: 100vh;
}

.width-200 {
    width: 200px;
}

.sidebar {
    margin-left: 10px;
    height: 100vh;
    overflow-y: auto;
    flex-shrink: 0;
    width: 200px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.fill {
    flex: 1;
}

.danger {
    color: red;
}

.default {
    color: skyblue;
}

.info {
    color: orange;
}

.bg-danger {
    background: lightcoral;
}

.padding-20 {
    padding: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.fixed-100 {
    width: 100px;
}
