main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 10px;
}
.main-content {
    flex: 1;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button-group .button {
    margin-right: 10px;
}

.col {
    display: flex;
    flex-grow: 1;
    margin-bottom: 10px;
}

span.label {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    
}

.content {
    flex-direction: column;
}