html, body, #root {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  flex: 1;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.label {
    display: inline-block;
    margin-bottom: 5px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 10px;
}

.sidebar .button {
    margin-bottom: 10px;
}

.title-with-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.structured-row {
    display: flex;
    margin-bottom: 5px;
}
.structured-row .field-name {
    width: 100px;
    margin-right: 8px;
}

.structured-row .field-value {
    flex: 1;
}