html,
body,
#root {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    flex: 1;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 10px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.editor {
    padding-left: 5px;
    padding-right: 5px;
}

.fill {
    flex: 1;
}

.danger {
    color: red;
}
