.model-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.model-control >.button{
    margin-left: 5px;
}

.value-input {
    margin-left: 5px;
}

.add-button {
    margin-left: 10px;
}

.argument-value {
    display: flex;
    margin-right: 5px;
}

.arguments {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}