.selection-bar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selection-bar .label{
    margin-right: 10px;
}

.selection-bar .button{
    margin-right: 10px;
}