.input-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.input-value {
    flex: 1;
}

.title-with-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-input {
    margin-top: 8px;
    margin-bottom: 8px;
}

.field-name {
    margin-right: 10px;
    max-width: 100px;
}

.field-value {
    flex: 1;
}